@charset "UTF-8";

body.modal-active {
  overflow: hidden;
}
.scroll {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 9999;
  text-align: center;
  font-size: 1.4rem;
  line-height: 48px;
}

/* Loading */
.hidden {
  visibility: hidden;
  opacity: 0;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: #000;
  overflow: hidden;
  z-index: 10000;
}
.loading .loading-tit {
  font-family: 'Philosopher', sans-serif;
  font-size: 3vw;
  color: #fff;
  text-align: center;
  mix-blend-mode: difference;
  transform: translateY(40px);
  z-index: 2;
}
.loading .bg {
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 50%;
  height: 100%;
  transform: scaleX(0);
}
.loading .bg-l {
  left: 0;
  transform-origin: left center;
}
.loading .bg-r {
  left: 50%;
  transform-origin: right center;
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
#header .title {
  position: relative;
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  opacity: 0;
  z-index: 102;
}
#header .menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25px;
  width: 30px;
  z-index: 101;
}
#header .menu-btn .menu-icon {
  height: 4px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2px;
  background-color: #94C6F2;
  transform: translate(-50%,-50%) rotate(0deg);
  transition: all 0.2s ease-out;
}
#header .menu-btn .menu-icon::before, #header .menu-btn .menu-icon::after {
  content:"";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  width: 50%;
  transition: all 0.2s ease-out;
}
#header .menu-btn .menu-icon::before {
  top: -9px;
  left: 0;
  transform-origin: left;
}
#header .menu-btn .menu-icon::after {
  bottom: -9px;
  right: 0;
  transform-origin: right;
}
#header .menu-btn.active .menu-icon {
  transform: translate(-50%,-50%) rotate(135deg);
}
#header .menu-btn.active .menu-icon::before {
  top: 0;
  transform: translateX(100%) rotate(-90deg);
}
#header .menu-btn.active .menu-icon::after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg);
}
#header .menu-btn.active + nav {
  width: 100vw;
  height: 100vh;
  border-bottom-left-radius: 0%;
  background-color: #fff;
}
#header .menu-btn.active + nav .menu li {
  opacity: 1;
  transition-delay: 0.4s;
  pointer-events: auto;
  
}
#header nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 80px;
  background-color: hsla(0, 0%, 100%, .05);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-bottom-left-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transition: all 0.2s ease-out;
  z-index: 100;
}
#header nav .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  transform: translateY(50%);
}
#header nav .menu li {
  opacity: 0;
  font-size: 2rem;
  pointer-events: none;
  transition: all 0.2s ease-out;
}
#header nav .menu li a {
  transition: all 0.2s;
}
#header nav .menu li a:hover {
  
}

.wrap {
  background-color: #000;
}
section {
  position: relative;
}
section .tit-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

section .tit-inner .tit {
  padding-bottom: 6px;
  font-size: 10rem;
  font-family: 'Philosopher', sans-serif;
}
section .gradient {
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  white-space: nowrap;
  background-image: linear-gradient(-45deg, #2E148C, #222CF2, #EF3DF2, #A7D5F2, #F199F2, #A7D5F2, #EF3DF2, #222CF2,
      #2E148C);
  background-size: 250%;
  animation: gradient-tit 2.5s ease-in-out alternate infinite;
}
@keyframes gradient-tit {
  0% {
    background-position: 0px 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
section .pj-tit {
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
}

/* Main */
#section1 {
  width: 100%;
  height: 2000px;
}
#section1 .tit-inner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 160fr 103fr;
  position: fixed;
  top: 0;
  left: 0;
  padding: 60px;
}
#section1 .tit-inner .inner {
  width: 100%;
  height: 100%;
}

/* About */
#section2 {
  height: 100vh;
  background-color: #fff;
  z-index: 10;
}
#section2::before {
  content: "";
  position: absolute;
  bottom: -300px;
  left: 0;
  width: 100%;
  height: 300px;
  background: inherit;
}
#section2 .about {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#section2 .about .contents {
  display: flex;
  height: 100%;
}
#section2 .about .contents > div {
  position: relative;
  width: 120vw;
  display: flex;
  align-items: center;
  /* border: 1px solid #d4d4d4; */
  background-color: #fff;
  background-blend-mode: lighten;
}
#section2 .about .contents .gap::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 0;
  width: 100%;
  height: 26px;
  background: url("../images/about-bg-top.png") repeat center top/cover;
}
#section2 .about .contents .cont1 .about-tit {
  font-size: 20rem;
  line-height: 0.8;
  text-align: right;
  font-family: 'Philosopher', sans-serif;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin-top: 200px;
  transform: translateX(15%);
  z-index: 1;
}
#section2 .about .contents .cont1 .about-tit span {
  font-style: italic;
}
#section2 .about .contents .cont1 .my-photo {
  width: auto;
  height: 100%;
  transform-origin: bottom;
}
#section2 .about .contents > div .highlight {
  position: relative;
  z-index: 1;
}
#section2 .about .contents > div:not(.cont1) .highlight::before {
  content: "";
  position: absolute;
  top: -80%;
  left: -5%;
  right: -3%;
  bottom: -40%;
  background: url("../images/point-brush.png") no-repeat 0 center/cover;
  z-index: -1;
}

#section2 .about .contents .cont2, #section2 .about .contents .cont3 {
  justify-content: center;
}
#section2 .about .contents div .f-print {
  position: absolute;
  left: -50px;
  bottom: 250px;
  background: url("../images/footprint.png") no-repeat center center/contain;
  width: 20px;
  height: 50px;
  transform: rotate(65deg);
}
#section2 .about .contents div .f-print:nth-of-type(2) {
  left: 15px;
  bottom: 230px;
  transform: rotate(75deg) scaleX(-1);
}
#section2 .about .contents div .f-print:nth-of-type(3) {
  left: 50px;
  bottom: 290px;
  transform: rotate(60deg);
}
#section2 .about .contents div .f-print:nth-of-type(4) {
  left: 115px;
  bottom: 280px;
  transform: rotate(70deg) scaleX(-1);
}
#section2 .about .contents div .f-print:nth-of-type(5) {
  left: 145px;
  bottom: 340px;
  transform: rotate(70deg);
}
#section2 .about .contents div .f-print:nth-of-type(6) {
  left: 210px;
  bottom: 320px;
  transform: rotate(80deg) scaleX(-1);
}
#section2 .about .contents div .about-txt {
  position: relative;
  font-size: 7.5rem;
  line-height: 1.3;
  font-family: 'GangwonEdu_OTFBoldA';
  z-index: 10;
}
#section2 .about .contents div .about-txt .info-txt {
  position: absolute;
  bottom: 6%;
  right: -4%;
  width: 55%;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #202020;
  opacity: 0;
}
#section2 .about .contents .cont2 .img-inner {
  position: relative;
  width: 300px;
}
#section2 .about .contents .cont2 .img-inner .my-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}
#section2 .about .contents .cont2 .img-inner .my-photo:nth-of-type(2) {
  width: 350px;
  z-index: 1;
}
#section2 .about .contents .cont2 .img-inner .my-photo:nth-of-type(3) {
  width: 350px;
  z-index: 2;
}

#section2 .about .contents .cont3 .about-txt {
  margin-left: 80px;
}
#section2 .about .contents .cont3 .about-txt .info-txt {
  bottom: 7.5%;
  right: -2%;
  width: 70%;
}
#section2 .about .contents .cont3 .img-inner {
  position: relative;
}
#section2 .about .contents .cont3  .img-inner::before {
  content: "";
  position: absolute;
  top: 8%;
  right:20%;
  background: url("../images/about-home1.png") no-repeat center center/cover;
  width: 100px;
  height: 104px;
  opacity: 0.7;
  animation: img-change 3.5s infinite;
}
@keyframes img-change {
  0% {
    background-image: url("../images/about-home1.png");
  }
  25% {
    background-image: url("../images/about-home2.png");
  }
  50% {
    background-image: url("../images/about-home3.png");
  }
  75% {
    background-image: url("../images/about-home4.png");
  }
}
#section2 .about .contents .cont3 .img-inner .about-img {
  width: 400px;
  margin-left: 50px;
}

/* P-project Title */
#section3 {
  height: 3500px;
  margin-top: 6500px;
  background-color: #000;
}
/* #section3 .noise-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200%;
  background: url("../images/project-bg.png") repeat 0 0/cover;
  background-attachment: fixed;
  opacity: 0.7;
  animation: noise 0.3s infinite;
} */
@keyframes noise {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}

/* P-project + F-project */
#section4 {
  background-color: #000;
  z-index: 5;
}
#section4 .contents, #section6 .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 450px 5%;
}
#section4 .contents .cont, #section6 .contents .cont {
  position: sticky;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  height: 80vh;
  padding: 60px;
  margin-bottom: 100px;
  background-color: #fff;
}
#section4 .contents .cont::before, #section6 .contents .cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/project-paper-bg.jpg") no-repeat center center/cover;
  opacity: 0.3;
}
#section4 .contents .cont .top, #section6 .contents .cont .top {
  display: flex;
  justify-content: space-between;
}
#section4 .contents .cont .inner, #section6 .contents .cont .inner {
  width: 50%;
  z-index: 1;
}
#section4 .contents .cont .inner .pj-tit, #section6 .contents .cont .inner .pj-tit {
  font-size: 9rem;
  text-transform: uppercase;
}
#section4 .contents .cont .inner .pj-txt, #section6 .contents .cont .inner .pj-txt {
  margin-top: 40px;
  font-size: 2rem;
  line-height: 1.5;
}
#section4 .contents .cont .btn-inner, #section6 .contents .cont .btn-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#section4 .contents .cont .btn-inner .view-btn, #section6 .contents .cont .btn-inner .view-btn {
  width: 49.5%;
  padding: 10px 0;
  color: #0D0D0D;
  border: 1px solid #0D0D0D;
  background: linear-gradient(135deg, #0D0D0D 0%, #0D0D0D 50%, transparent 50%) no-repeat;
  background-size: 0% 100%;
  transition: 0.3s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
#section4 .contents .cont .btn-inner .view-btn:hover, #section6 .contents .cont .btn-inner .view-btn:hover {
  color: #fff;
  background-size: 250% 100%;
}
#section4 .contents .cont .pj-img, #section6 .contents .cont .pj-img {
  position: relative;
  width: 40%;
  height: 22vw;
  margin-top: -10px;
  z-index: 1;
}
#section4 .contents .cont .pj-img .change-btn, #section6 .contents .cont .pj-img .change-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 700;
  width: 40%;
  padding: 10px;
  border: 1px solid #0D0D0D;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, .05);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  
}
#section4 .contents .cont .pj-img .change-btn:hover, #section6 .contents .cont .pj-img .change-btn:hover {
  animation: wobble 0.6s ease-in-out;
}
@keyframes wobble {
  16.65% {
    transform: translate(-50%, calc(-50% + 8px));
  }
  33.3% {
    transform: translate(-50%, calc(-50% - 6px));
  }
  49.95% {
    transform: translate(-50%, calc(-50% + 4px));
  }
  66.6% {
    transform: translate(-50%, calc(-50% - 2px));
  }
  83.25% {
    transform: translate(-50%, calc(-50% + 1px));
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
#section4 .contents .cont .pj-img img, #section6 .contents .cont .pj-img img {
  width: 100%;
}
#section4 .contents .cont .bottom, #section6 .contents .cont .bottom {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  z-index: 1;
}
#section4 .contents .cont .bottom .number, #section6 .contents .cont .bottom .number {
  font-size: 16rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: 900;
}
#section4 .contents .cont .bottom .tag,
#section6 .contents .cont .bottom .tag {
  position: relative;
  padding: 10px;
  background-color: #000;
}
#section4 .contents .cont .bottom .tag::before,
#section6 .contents .cont .bottom .tag::before {
  content: "";
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background-color: inherit;
}
#section4 .contents .cont .bottom .tag span, #section6 .contents .cont .bottom .tag span {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  margin-left: 6px;
}

/* F-project Title */
#section5 {
  height: 3500px;
  background-color: #000;
}

/* F-project */
#section6 {
  background-color: #000;
  z-index: 10;
}

/* Script Title */
#section7 {
  height: 3500px;
  background-color: #000;
}
#section7 .tit-inner .gradient {
  animation-duration: 2s;
}

/* Script */
#section8 {
  height: 400vh;
  color: #fff;
  background-color: #000;
  z-index: 10;
}
#section8 .script {
  padding: 400px 5%;
}
#section8 .script .tit {
  font-size: 8rem;
  font-family: 'Philosopher', sans-serif;
}
#section8 .script .script-list {
  margin-top: 80px;
}
#section8 .script .script-list .item {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
#section8 .script .script-list .item::before, #section8 .script .script-list .item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
  transition: all 1s;
}
#section8 .script .script-list .item::after {
  width: 0%;
  opacity: 1;
}
#section8 .script .script-list .item:hover::after {
  width: 100%;
}
#section8 .script .script-list .item .number {
  width: 10%;
}
#section8 .script .script-list .item .script-name {
  width: 30%;
}
#section8 .script .script-list .item .script-txt {
  width: 50%;
  font-size: 1.6rem;
  line-height: 1.6;
}
#section8 .script .script-list .item .play-btn {
  width: 10%;
}
#section8 .script .script-list .item .play-btn span:hover {
  transform: rotate(360deg);
}
#section8 .script .script-list .item .common {
  font-size: 2rem;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}
#section8 .script .script-list .item button span {
  font-size: 4rem;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
#section8 .script .script-list .item .script-img {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0%;
  width: 25vw;
  height: 25vw;
  z-index: -1;
}
#section8 .script .script-list .item .script-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.7s;
}
#section8 .script .script-list .item:hover .script-img img {
  opacity: 1;
}

#section8 #modal-inner {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  z-index: 1000;
}
#section8 #modal-inner.active {
  transform: scale(1);
}
#section8 #modal-inner.active .modal-bg {
  background-color: rgba(0, 0, 0, 0);
  animation: bg-fade-in 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
@keyframes bg-fade-in {
  0% {
    background: rgba(0, 0, 0, 0.0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
#section8 #modal-inner.active .modal-bg .modal {
  animation: expand 1s forwards;
}
@keyframes expand {
  15% {
    width: 100px;
    height: 40px;
    border-radius: 40px;
  }
  50% {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  100% {
    width: 80%;
    height: 80%;
    border-radius: 0px;
  }
}
#section8 #modal-inner.active .modal-bg .modal iframe {
  position: relative;
  opacity: 0;
  animation: fade-in 0.5s 1s linear forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#section8 #modal-inner .modal-bg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.8);
}
#section8 #modal-inner .modal-bg .modal {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #fff;
}
#section8 #modal-inner .modal-bg .modal iframe {
  width: 100%;
  height: 100%;
}
#section8 #modal-inner.active .modal-bg .modal .close-btn {
  position: absolute;
  top: 3%;
  right: 2%;
  opacity: 0;
  animation: fade-in 0.5s 1s linear forwards;
}
#section8 .item:nth-of-type(3) #modal-inner .modal-bg .modal .close-btn span, #section8 .item:nth-of-type(4) #modal-inner .modal-bg .modal .close-btn span {
  color: #000;
}

#section9 {
  height: 100vh;
  background-color: #fff;
}